APP_NAME="InspectPro — Inspection Équipements de Levage"
APP_ENV=production
APP_KEY=                          # généré par: docker compose exec app php artisan key:generate
APP_DEBUG=false
APP_URL=https://mid-rg.bmoinet.net
APP_TIMEZONE=Indian/Antananarivo

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=inspectpro                  # doit matcher POSTGRES_DB dans .env
DB_USERNAME=inspectpro_user             # doit matcher POSTGRES_USER dans .env
DB_PASSWORD=change_me_mot_de_passe_fort # doit matcher POSTGRES_PASSWORD dans .env

SANCTUM_STATEFUL_DOMAINS=
SESSION_DRIVER=file

FILESYSTEM_DISK=local

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@bmoinet.net"
MAIL_FROM_NAME="${APP_NAME}"

FRONTEND_URL=https://mid-rg.bmoinet.net
